{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des équippements</h1>
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><b>ID</b></td>
            <td><b>Catégorie</b></td>
            <td><b>Date création</b></td>
            <td><b>Serial</b></td>
            <td><b>Description</b></td>

        </tr>

        </thead>
        <tbody>
        {% for equippement in equippements %}
            <tr>
                <td>{{ equippement.id }}</td>
                <td>{{ equippement.type }}</td>
                <td>{{ equippement.createdAt |date('Y-m-d') }}</td>
                <td>{{ equippement.serialnumber }}</td>
                <td>{{ equippement.description }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    {% endblock %}















